.centerAll {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Kanit', sans-serif;
}

#mainBG {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  color: #ffffff;
}

.title-deco {
  position: relative;
}

.title-deco::after {
  position: absolute;
  content: "";
  width: 42px;
  height: 4px;
  background: #ee7785;
  left: 0;
  bottom: 0px;
}
